swagger: '2.0'
info:
  description: |
    API for [Debian's Bugtracker](https://bugs.debian.org).
  version: 1.0.0
  title: Debbugs API
# host: petstore.swagger.io
# basePath: /v2

# schemes:
# - http
paths:
  /status:
    get:
      summary: Get status of given bugs
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: body
        description: List of bug numbers
        required: true
        schema:
          type: array
          items:
            type: integer
      responses:
        200:
          description: Status of the given bugs
          schema:
            type: array
            items:
              $ref: '#/definitions/Status'
  /bugs:
    get:
      summary: Get bugs that match the conditions
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: body
        description: filter conditions
        required: true
        schema:
          $ref: '#/definitions/Conditions'
      responses:
        200:
          description: List of bugnumbers
          schema:
            type: array
            items:
              type: integer
  /usertags:
    get:
      summary: Get bugs tagged by that email. All of them or only those tagged with the selected tags.
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: body
        description: Filter condition for usertags
        required: true
        schema:
          type: object
          properties:
            email:
              type: string
              description: email address of the tag creator
              required: true
            tags:
              type: array
              items:
                type: string
              description: list of usertags
              required: false
      responses:
        200:
          description: List of bugnumbers
          schema:
            type: array
            items:
              type: integer
  /latest/{amount}:
    get:
      summary: Get list of latest bugs
      produces:
      - application/json
      parameters:
      - in: path
        name: amount
        description: Number of bugs
        required: true
        schema:
          type: integer
      responses:
        200:
          description: List of bugnumbers
          schema:
            type: array
            items:
              type: integer
  /buglog/{bugnumber}:
    get:
      summary: Get the whole bug log
      produces:
      - application/json
      parameters:
      - in: path
        name: bugnumber
        description: the bugnumber
        required: true
        schema:
          type: integer
      responses:
        200:
          description: the the whole bug log
          schema:
            $ref: '#/definitions/Buglog'
  /versions:
    get:
      summary: Get list of versions of package in distributions and architectures listed
      consusmes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: body
        description: Package, distribution and architecture
        required: true
        schema:
          type: object
          properties:
            package:
              type: string
            distribution:
              type: string
            architecture:
              type: string
      responses:
        200:
          description: List of versions
          schema:
            type: array
            items:
              type: string
            
definitions:

  Status:
    description: Status of a bugreport
    type: object
    properties:
      bug_number:
        type: integer
        description: the bug number
      severity:
        $ref: '#/definitions/Severity'
      tags:
        type: array
        items:
          type: string
        description: tags of the bugreport
      subject:
        type: string
        description: subject/title of the bugreport
      originator:
        type: string
        description: submitter of the bugreport
      mergedwith:
        type: array
        items:
          type: integer
        description: this bug was merged with
      package:
        type: string
        description: package of the bugreport
      source:
        type: string
        description: source package of the bugreport
      date:
        type: string
        format: date-time
        description: date of bug creation
      log_modified:
        type: string
        format: date-time
        description: date of last update
      done:
        type: string
        description: maintainer who closed the string
      archived:
        type: boolean
        description: the bug is archived
      unarchived:
        type: boolean
        description: the bug has been unarchived and can be archived again
      fixed_versions:
        type: array
        items:
          type: string
        description: version numbers
      found_versions:
        type: array
        items:
          type: string
        description: version numbers
      forwarded:
        type: string
        description: an URL or email address
      blocks:
        type: array
        items:
          type: integer
        description: list of bugnumbers this report blocks
      blockedby:
        type: array
        items:
          type: integer
        description: list of bugnumbers this report is blocked by
      pending:
        type: string
        enum:
        - pending
        - done
        description: either pending or done
      msgid:
        type: string
        description: message ID of the bugreport
      owner:
        type: string
        description: default empty, otherwise who is responsible for fixing
      location:
        type: string
        enum:
        - db-h
        - archive
        description: always db-h or archive
      affects:
        type: array
        items:
          type: string
        description: package names, see affects in control-BTS manual
      summary:
        type: string
        description: arbitrary text

  Conditions:
    description: Filter conditions
    type: object
    properties:
      package:
        type: string
      submitter:
        type: string
      maint:
        type: string
      src:
        type: string
      severity:
        $ref: '#/definitions/Severity'
      status:
        type: string
        enum:
        - open
        - done
        - forwarded
      tag:
        type: string
      owner:
        type: string
      bugs:
        type: string
      affects:
        type: string
      archive:
        type: string
        enum:
        - true
        - false
        - both
      
  Severity:
    description: Bug severity
    type: string
    enum:
    - critical
    - grave
    - serious
    - important
    - normal
    - minor
    - wishlist
    
  Buglog:
    description: an array of emails
    type: array
    items:
      type: object
      description: an email split in header and body
      properties:
        header:
          type: string
          description: the smtp headers
        body:
          type: string
          description: the email body

externalDocs:
  description: Debbugs' SOAP Interface
  url: https://wiki.debian.org/DebbugsSoapInterface
# Added by API Auto Mocking Plugin
host: virtserver.swaggerhub.com
basePath: /venthur/debbugs/1.0.0
schemes:
 - https
 - http